*.class
*.pyc
*.pyo
/nbproject/private/
/pdf/
/drug_commodity_map.sql
/drugs not in commodities table.txt
/nbproject




application/config/database.php
.htaccess

system/libraries/Hcmp_functions.php
